a:hover {
    text-decoration: none;
}

body {
    color: #f0f0f0;
    font-family: "Kode Mono", monospace;
    font-size: 16px;
    margin: auto;
    min-width: 480px;
    padding: 1rem;
}

details > summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

h2 {
    margin-bottom: 1rem;
}

i {
    font-family: "Noto Emoji", sans-serif;
    font-style: normal;
}

p {
    margin: 0;
}

.bg-cathode {
    background-color: #282828;
}

/* amber theme */
.amber {
    color: #fff8f0;
    text-shadow: 0 0 3px #ffc080, 0 0 10px #ff6600, 0 0 20px #ff6600, 0 0 30px #ff6600;
}

.amber a {
    color: #ffc080;
}

/* cyan theme */
.cyan {
    color: #f0f8ff;
    text-shadow: 0 0 3px #80f7ff, 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #00f0ff;
}

.cyan a {
    color: #80f7ff;
}

/* green theme */
.green {
    color: #f0fff8;
    text-shadow: 0 0 3px #80ffc0, 0 0 10px #00ff66, 0 0 20px #00ff66, 0 0 30px #00ff66;
}

.green a {
    color: #80ffc0;
}

/* ruby theme */
.ruby {
    color: #fff0f0;
    text-shadow: 0 0 3px #ff8080, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
}

.ruby a {
    color: #ff8080;
}

/* sapphire theme */
.sapphire {
    color: #c0c0ff;
    text-shadow: 0 0 3px #8080ff, 0 0 10px #4040ff, 0 0 20px #4040ff, 0 0 30px #4040ff;
}

.sapphire a {
    color: #8080ff;
}

/** blink effect */
.blink {
    animation: 500ms blink step-end infinite;
}

.blink-1s {
    animation: 1s blink step-end infinite;
}

.blink-2s {
    animation: 2s blink step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/** pulse effect */
.pulse {
    animation: pulse 500ms infinite;
}

.pulse-1s {
    animation: pulse 1s infinite;
}

.pulse-2s {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.333;
    }
    100% {
        opacity: 1;
    }
}

/** flicker effect */
.flicker {
    animation: flicker 500ms infinite;
}

.flicker-1s {
    animation: flicker 1s infinite;
}

.flicker-2s {
    animation: flicker 2s infinite;
}

@keyframes flicker {
    0% {opacity: 0.27861;}
    5% {opacity: 0.34769;}
    10% {opacity: 0.23604;}
    15% {opacity: 0.90626;}
    20% {opacity: 0.18128;}
    25% {opacity: 0.83891;}
    30% {opacity: 0.65583;}
    35% {opacity: 0.67807;}
    40% {opacity: 0.26559;}
    45% {opacity: 0.84693;}
    50% {opacity: 0.96019;}
    55% {opacity: 0.08594;}
    60% {opacity: 0.20313;}
    65% {opacity: 0.71988;}
    70% {opacity: 0.53455;}
    75% {opacity: 0.37288;}
    80% {opacity: 0.71428;}
    85% {opacity: 0.70419;}
    90% {opacity: 0.7003;}
    95% {opacity: 0.36108;}
    100% {opacity: 0.24387;}
}
